.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    max-width: 100%;
}

button {
    width: 100%;
    max-width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
